# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment files
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Build files
dist/
build/

# Logs
logs/
*.log
